In [1]:
import yfinance as yf
import pandas as pd

In [2]:
# Set the ticker symbol and the start and end dates
symbol = "ETH-USD"
start_date = "2021-02-25"
end_date = "2023-02-18"

In [3]:
# Get the hourly closing price data from Yahoo Finance
data = yf.download(symbol, start=start_date, end=end_date, interval="1h")

# Only keep the "Close" column
close_prices = pd.DataFrame(data["Close"])

# Print the resulting DataFrame
print(close_prices)

[*********************100%***********************]  1 of 1 completed
                                 Close
Datetime
2021-02-25 00:00:00+00:00  1653.057007
2021-02-25 01:00:00+00:00  1634.729858
2021-02-25 02:00:00+00:00  1633.828491
2021-02-25 03:00:00+00:00  1614.386230
2021-02-25 04:00:00+00:00  1595.773804
...                                ...
2023-02-17 19:00:00+00:00  1706.235962
2023-02-17 20:00:00+00:00  1708.262939
2023-02-17 21:00:00+00:00  1700.483154
2023-02-17 22:00:00+00:00  1695.462769
2023-02-17 23:00:00+00:00  1695.094727

[17123 rows x 1 columns]

In [4]:
close_prices.tail()

                                 Close
Datetime
2023-02-17 19:00:00+00:00  1706.235962
2023-02-17 20:00:00+00:00  1708.262939
2023-02-17 21:00:00+00:00  1700.483154
2023-02-17 22:00:00+00:00  1695.462769
2023-02-17 23:00:00+00:00  1695.094727

In [5]:
# change the column name to "close" to match the rest of the code written earlier 
close_prices = close_prices.rename(columns={"Close": "close"})
close_prices.tail()

                                 close
Datetime
2023-02-17 19:00:00+00:00  1706.235962
2023-02-17 20:00:00+00:00  1708.262939
2023-02-17 21:00:00+00:00  1700.483154
2023-02-17 22:00:00+00:00  1695.462769
2023-02-17 23:00:00+00:00  1695.094727

In [6]:
# change the index to a column named "date" to match the rest of the code written earlier 
close_prices.rename_axis('date')

                                 close
date
2021-02-25 00:00:00+00:00  1653.057007
2021-02-25 01:00:00+00:00  1634.729858
2021-02-25 02:00:00+00:00  1633.828491
2021-02-25 03:00:00+00:00  1614.386230
2021-02-25 04:00:00+00:00  1595.773804
...                                ...
2023-02-17 19:00:00+00:00  1706.235962
2023-02-17 20:00:00+00:00  1708.262939
2023-02-17 21:00:00+00:00  1700.483154
2023-02-17 22:00:00+00:00  1695.462769
2023-02-17 23:00:00+00:00  1695.094727

[17123 rows x 1 columns]

In [7]:
close_prices = close_prices.rename_axis('date')

In [8]:
close_prices.tail()

                                 close
date
2023-02-17 19:00:00+00:00  1706.235962
2023-02-17 20:00:00+00:00  1708.262939
2023-02-17 21:00:00+00:00  1700.483154
2023-02-17 22:00:00+00:00  1695.462769
2023-02-17 23:00:00+00:00  1695.094727

In [9]:
close_prices = close_prices.reset_index()
close_prices['date'] = pd.to_datetime(close_prices['date']).dt.strftime('%Y-%m-%d %H:%M:%S')
close_prices.tail()

                      date        close
17118  2023-02-17 19:00:00  1706.235962
17119  2023-02-17 20:00:00  1708.262939
17120  2023-02-17 21:00:00  1700.483154
17121  2023-02-17 22:00:00  1695.462769
17122  2023-02-17 23:00:00  1695.094727

In [10]:
close_prices = close_prices.loc[:, ['date', 'close']]
close_prices.tail()

                      date        close
17118  2023-02-17 19:00:00  1706.235962
17119  2023-02-17 20:00:00  1708.262939
17120  2023-02-17 21:00:00  1700.483154
17121  2023-02-17 22:00:00  1695.462769
17122  2023-02-17 23:00:00  1695.094727

In [11]:
close_prices = close_prices.set_index('date')
close_prices.tail()

                           close
date
2023-02-17 19:00:00  1706.235962
2023-02-17 20:00:00  1708.262939
2023-02-17 21:00:00  1700.483154
2023-02-17 22:00:00  1695.462769
2023-02-17 23:00:00  1695.094727